n8n/zaptask-meeting-notes-workflow.json
{
  "name": "ZapTask – Meeting Notes",
  "nodes": [
    {
      "parameters": {
        "content": "## How this works\n\n1. **ZapTask** POSTs raw audio → this webhook\n2. **Whisper** transcribes → **GPT** summarizes + extracts action items\n3. **HTTP – Send Proposal to ZapTask** sends proposals for user approval\n4. User reviews in ZapTask → approves → todos created\n\n## AUTH FIX (if final node says Authorization failed)\n\nThe header `X-N8N-Webhook-Secret` must EXACTLY match Heroku `N8N_WEBHOOK_SECRET`.\n\n1. Run: `heroku config:get N8N_WEBHOOK_SECRET -a task-it`\n2. Open **HTTP – Send Proposal to ZapTask** → Headers\n3. Replace `YOUR_N8N_WEBHOOK_SECRET` with that exact value\n4. Save + re-activate workflow\n\nIf Heroku has no secret yet:\n`heroku config:set N8N_WEBHOOK_SECRET=$(openssl rand -hex 32) -a task-it`\nThen paste the same value into the N8N header.",
        "height": 520,
        "width": 560,
        "color": 5
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Setup & Debug",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-notes",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Webhook – Meeting Notes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "zaptask-meeting-notes"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = { ...(item.binary || {}) };\nconst binaryKeys = Object.keys(binary);\n\nconst audioKey =\n  binaryKeys.find((key) => key === 'audio') ??\n  binaryKeys.find((key) => key.startsWith('audio')) ??\n  binaryKeys[0];\n\nif (!audioKey) {\n  throw new Error(\n    'No audio file received from ZapTask. Check ZapTask sent multipart field \"audio\". Binary keys: ' +\n      (binaryKeys.join(', ') || 'none'),\n  );\n}\n\nconst raw = item.json?.body ?? item.json ?? {};\nconst meta = raw.body ?? raw;\n\nlet availableProjects = [];\ntry {\n  const rawProjects = meta.available_projects;\n  if (typeof rawProjects === 'string' && rawProjects.trim()) {\n    availableProjects = JSON.parse(rawProjects);\n  } else if (Array.isArray(rawProjects)) {\n    availableProjects = rawProjects;\n  }\n} catch (error) {\n  availableProjects = [];\n}\n\nreturn [\n  {\n    json: {\n      user_id: meta.user_id,\n      user_name: meta.user_name,\n      user_email: meta.user_email,\n      company_id: meta.company_id,\n      duration_seconds: meta.duration_seconds,\n      stopped_reason: meta.stopped_reason,\n      recorded_at: meta.recorded_at,\n      available_projects: availableProjects,\n      debug_binary_key_used: audioKey,\n    },\n    binary: audioKey === 'audio' ? binary : { audio: binary[audioKey] },\n  },\n];"
      },
      "id": "a1b2c3d4-000d-4000-8000-00000000000d",
      "name": "Normalize Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "id": "a1b2c3d4-000b-4000-8000-00000000000b",
      "name": "OpenAI – Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Normalize Webhook Input').first().json;\nconst transcribe = $input.first().json;\n\nconst transcript = (transcribe.text ?? '').trim();\n\nif (!transcript) {\n  throw new Error('No speech was detected in the recording.');\n}\n\nreturn [\n  {\n    json: {\n      transcript,\n      user_id: meta.user_id,\n      user_name: meta.user_name,\n      user_email: meta.user_email,\n      company_id: meta.company_id,\n      duration_seconds: meta.duration_seconds,\n      stopped_reason: meta.stopped_reason,\n      recorded_at: meta.recorded_at,\n      available_projects: meta.available_projects ?? [],\n    },\n  },\n];"
      },
      "id": "a1b2c3d4-000c-4000-8000-00000000000c",
      "name": "Prepare Meeting Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional meeting-notes assistant for ZapTask. Analyze the transcript and return ONLY valid JSON (no markdown fences) with this exact structure:\n\n{\n  \"summary\": \"2-4 paragraph executive summary\",\n  \"suggested_project_name\": \"exact name from available_projects when matched, else spoken name or null\",\n  \"key_decisions\": [\"decision 1\", \"decision 2\"],\n  \"action_items\": [\n    {\n      \"title\": \"Clear actionable task title\",\n      \"assignee\": \"person name or null\",\n      \"priority\": \"Low|Medium|High|Critical\",\n      \"status\": \"todo|in-progress|qa-testing|done\",\n      \"due_date\": \"YYYY-MM-DD or null\",\n      \"project_name\": \"project name for this item or null\",\n      \"notes\": \"optional context\"\n    }\n  ],\n  \"participants_mentioned\": [\"name 1\", \"name 2\"],\n  \"follow_ups\": [\"follow-up item 1\"]\n}\n\nVOCABULARY — all mean the same thing (create/extract action items):\ntodo, todos, task, tasks, note, notes, action item, action items, reminder, item, items, thing to do, follow-up task\n\nCOUNT rules:\n- \"create 2 tasks\", \"add two todos\", \"I need 3 notes\" -> extract that many distinct items when possible\n- Do not require the word \"todo\" specifically\n\nCOLUMN / STATUS — infer liberally from casual speech:\n- todo: to do, todo, backlog, new, not started, pending\n- in-progress: in progress, progress, progress column, started, working on, underway, wip, doing, active\n- qa-testing: qa, q&a, testing, test, in review, review, quality assurance\n- done: done, complete, completed, finished, shipped, closed\n\nIf the speaker says \"put them in progress\", \"add to the progress column\", \"stick them in testing\", or similar — apply that status even if wording is imprecise.\n\nPROJECT matching:\n- available_projects is provided as [{id, name}]\n- Match spoken names loosely: partial words, abbreviations, reordered words (\"marketing site\" -> \"Website Marketing\")\n- If they say \"for marketing\" or \"on the website one\", match the closest available_projects name\n- Always return suggested_project_name as the exact name string from available_projects when matched\n\nDUE DATES:\n- Resolve relative dates (tomorrow, next Wednesday, this Sunday, in 2 weeks) to YYYY-MM-DD using the reference date provided\n\nPRIORITY:\n- high/urgent -> High; critical -> Critical; low -> Low; otherwise Medium\n\nOther rules:\n- Extract every concrete action item with specific titles\n- If no action items exist, return an empty array\n- Do not invent facts not supported by the transcript",
              "role": "system"
            },
            {
              "content": "=Meeting recorded by: {{ $json.user_name }} ({{ $json.user_email }})\nCompany ID: {{ $json.company_id }}\nDuration: {{ Math.round(($json.duration_seconds || 0) / 60) }} minutes\nStopped: {{ $json.stopped_reason }}\nRecorded at (reference date for due dates): {{ $json.recorded_at }}\nAvailable projects: {{ JSON.stringify($json.available_projects || []) }}\n\n--- TRANSCRIPT ---\n{{ $json.transcript }}",
              "role": "user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "OpenAI – Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare Meeting Context').first().json;\nconst ai = $input.first().json;\n\nlet parsed = ai.message?.content ?? ai.content ?? ai;\n\nif (typeof parsed === 'string') {\n  try {\n    parsed = JSON.parse(parsed);\n  } catch (error) {\n    parsed = {\n      summary: parsed,\n      suggested_project_name: null,\n      key_decisions: [],\n      action_items: [],\n      participants_mentioned: [],\n      follow_ups: [],\n    };\n  }\n}\n\nconst availableProjects = Array.isArray(context.available_projects) ? context.available_projects : [];\nconst transcript = String(context.transcript || '');\n\nconst STOP_WORDS = new Set(['a', 'an', 'the', 'my', 'our', 'for', 'in', 'on', 'to', 'and', 'or', 'of', 'project', 'projects']);\n\nconst normalizeText = (value) =>\n  String(value || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\nconst textTokens = (value) =>\n  normalizeText(value)\n    .split(' ')\n    .filter((token) => token.length > 1 && !STOP_WORDS.has(token));\n\nconst tokenOverlapScore = (query, candidate) => {\n  const queryTokens = textTokens(query);\n  const candidateTokens = new Set(textTokens(candidate));\n  if (!queryTokens.length || !candidateTokens.size) return 0;\n  const overlap = queryTokens.filter((token) => candidateTokens.has(token)).length;\n  return overlap / Math.max(queryTokens.length, candidateTokens.size);\n};\n\nconst inferStatusFromText = (text) => {\n  const normalized = normalizeText(text);\n  if (!normalized) return null;\n\n  if (/\\b(in[\\s-]?progress|progress\\s+column|being\\s+worked|working\\s+on|under[\\s-]?way|started|active|wip|doing|current\\s+sprint)\\b/.test(normalized)) {\n    return 'in-progress';\n  }\n  if (/\\b(q\\s*&?\\s*a|qa[\\s-]?testing|testing\\s+column|in\\s+review|for\\s+review|needs?\\s+review|quality\\s+assurance|testing)\\b/.test(normalized)) {\n    return 'qa-testing';\n  }\n  if (/\\b(completed?|finished|shipped|closed|done\\s+column)\\b/.test(normalized)) {\n    return 'done';\n  }\n  if (/\\b(to[\\s-]?do|todo\\s+column|backlog|not\\s+started|new\\s+column|pending|icebox)\\b/.test(normalized)) {\n    return 'todo';\n  }\n  return null;\n};\n\nconst normalizeStatus = (status, fallbackText = '') => {\n  return inferStatusFromText(status) || inferStatusFromText(fallbackText) || 'todo';\n};\n\nconst matchProjectName = (spoken) => {\n  if (!spoken || !availableProjects.length) return null;\n\n  const normalizedQuery = normalizeText(spoken);\n  const exact = availableProjects.find((project) => normalizeText(project.name) === normalizedQuery);\n  if (exact) return exact.name;\n\n  const partial = availableProjects.find((project) => {\n    const normalizedName = normalizeText(project.name);\n    return normalizedName.includes(normalizedQuery) || normalizedQuery.includes(normalizedName);\n  });\n  if (partial) return partial.name;\n\n  let best = null;\n  for (const project of availableProjects) {\n    const score = tokenOverlapScore(spoken, project.name);\n    if (score >= 0.35 && (!best || score > best.score)) {\n      best = { name: project.name, score };\n    }\n  }\n  return best?.name ?? null;\n};\n\nconst findProjectInTranscript = () => {\n  if (!transcript || !availableProjects.length) return null;\n\n  const normalizedTranscript = normalizeText(transcript);\n  let best = null;\n\n  for (const project of availableProjects) {\n    const normalizedName = normalizeText(project.name);\n    if (normalizedName && normalizedTranscript.includes(normalizedName)) {\n      const score = normalizedName.length;\n      if (!best || score > best.score) best = { name: project.name, score };\n      continue;\n    }\n\n    const score = tokenOverlapScore(project.name, transcript);\n    if (score >= 0.5 && (!best || score > best.score)) {\n      best = { name: project.name, score };\n    }\n  }\n\n  return best?.name ?? null;\n};\n\nconst inferGlobalStatus = () => {\n  const placementPatterns = [\n    /(?:put|place|add|move|stick)\\s+(?:them|these|it|all|both)?\\s*(?:in|into|on|under)\\s+(?:the\\s+)?([^.,;]{3,60})/gi,\n    /(?:in|into|on)\\s+(?:the\\s+)?([^.,;]{3,40}?)\\s+column/gi,\n  ];\n\n  for (const pattern of placementPatterns) {\n    let match;\n    while ((match = pattern.exec(transcript)) !== null) {\n      const status = inferStatusFromText(match[1]);\n      if (status && status !== 'todo') return status;\n    }\n  }\n\n  return inferStatusFromText(transcript);\n};\n\nconst globalStatus = inferGlobalStatus();\nconst transcriptProject = findProjectInTranscript();\nlet suggestedProject =\n  matchProjectName(parsed.suggested_project_name) ||\n  transcriptProject ||\n  parsed.suggested_project_name ||\n  null;\n\nconst actionItems = (Array.isArray(parsed.action_items) ? parsed.action_items : []).map((item) => {\n  const projectName =\n    matchProjectName(item.project_name) ||\n    matchProjectName(suggestedProject) ||\n    transcriptProject ||\n    item.project_name ||\n    suggestedProject ||\n    null;\n\n  if (!suggestedProject && projectName) {\n    suggestedProject = projectName;\n  }\n\n  const status =\n    normalizeStatus(item.status, `${item.notes || ''} ${item.title || ''}`) !== 'todo'\n      ? normalizeStatus(item.status, `${item.notes || ''} ${item.title || ''}`)\n      : globalStatus || normalizeStatus(item.status, `${item.notes || ''} ${item.title || ''}`);\n\n  return {\n    title: item.title,\n    assignee: item.assignee ?? null,\n    priority: item.priority ?? 'Medium',\n    status,\n    due_date: item.due_date ?? null,\n    project_name: projectName,\n    notes: item.notes ?? null,\n  };\n});\n\nreturn [\n  {\n    json: {\n      transcript,\n      user_id: context.user_id,\n      user_name: context.user_name,\n      user_email: context.user_email,\n      company_id: context.company_id,\n      duration_seconds: context.duration_seconds,\n      stopped_reason: context.stopped_reason,\n      recorded_at: context.recorded_at,\n      meeting_summary: parsed.summary ?? '',\n      suggested_project_name: suggestedProject,\n      key_decisions: parsed.key_decisions ?? [],\n      action_items: actionItems,\n      action_items_count: actionItems.length,\n      participants_mentioned: parsed.participants_mentioned ?? [],\n      follow_ups: parsed.follow_ups ?? [],\n      processed_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Structure Meeting Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zaptask.co.uk/api/n8n/meeting-notes/proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "YOUR_N8N_WEBHOOK_SECRET"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  user_id: $json.user_id,\n  company_id: $json.company_id,\n  transcript: $json.transcript,\n  meeting_summary: $json.meeting_summary,\n  suggested_project_name: $json.suggested_project_name,\n  action_items: $json.action_items,\n  key_decisions: $json.key_decisions,\n  follow_ups: $json.follow_ups,\n  duration_seconds: $json.duration_seconds,\n  stopped_reason: $json.stopped_reason,\n  recorded_at: $json.recorded_at\n} }}",
        "options": {}
      },
      "id": "a1b2c3d4-000e-4000-8000-00000000000e",
      "name": "HTTP – Send Proposal to ZapTask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "notes": "Replace YOUR_N8N_WEBHOOK_SECRET with the same value as ZapTask N8N_WEBHOOK_SECRET on Heroku. This is the FINAL node — delete any old HTTP – Create Task node if still in your canvas."
    }
  ],
  "connections": {
    "Webhook – Meeting Notes": {
      "main": [
        [
          {
            "node": "Normalize Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Input": {
      "main": [
        [
          {
            "node": "OpenAI – Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Transcribe": {
      "main": [
        [
          {
            "node": "Prepare Meeting Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meeting Context": {
      "main": [
        [
          {
            "node": "OpenAI – Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Summarize": {
      "main": [
        [
          {
            "node": "Structure Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Meeting Notes": {
      "main": [
        [
          {
            "node": "HTTP – Send Proposal to ZapTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ZapTask"
    },
    {
      "name": "Meeting Notes"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false
}
