n8n/zaptask-meeting-notes-workflow.json
{
  "name": "ZapTask – Meeting Notes",
  "nodes": [
    {
      "parameters": {
        "content": "## How this works\n\n1. **ZapTask** POSTs raw audio → this webhook\n2. **Whisper** transcribes → **GPT** summarizes + extracts action items\n3. **HTTP – Send Proposal to ZapTask** sends proposals for user approval\n4. User reviews in ZapTask dashboard → approves/edits → todos created\n\n## Setup\n\n1. Set **HTTP – Send Proposal to ZapTask** URL to your app:\n   `https://YOUR-APP-DOMAIN/api/n8n/meeting-notes/proposals`\n2. Set header **X-N8N-Webhook-Secret** (same as ZapTask `N8N_WEBHOOK_SECRET` on Heroku)\n3. OpenAI credentials on Transcribe + Summarize nodes\n4. Activate workflow\n\n## Debug\n\nCheck **Executions** if proposals don't appear in ZapTask.",
        "height": 520,
        "width": 560,
        "color": 5
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Setup & Debug",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-notes",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Webhook – Meeting Notes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "zaptask-meeting-notes"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binary = { ...(item.binary || {}) };\nconst binaryKeys = Object.keys(binary);\n\nconst audioKey =\n  binaryKeys.find((key) => key === 'audio') ??\n  binaryKeys.find((key) => key.startsWith('audio')) ??\n  binaryKeys[0];\n\nif (!audioKey) {\n  throw new Error(\n    'No audio file received from ZapTask. Check ZapTask sent multipart field \"audio\". Binary keys: ' +\n      (binaryKeys.join(', ') || 'none'),\n  );\n}\n\nconst raw = item.json?.body ?? item.json ?? {};\nconst meta = raw.body ?? raw;\n\nreturn [\n  {\n    json: {\n      user_id: meta.user_id,\n      user_name: meta.user_name,\n      user_email: meta.user_email,\n      company_id: meta.company_id,\n      duration_seconds: meta.duration_seconds,\n      stopped_reason: meta.stopped_reason,\n      recorded_at: meta.recorded_at,\n      debug_binary_key_used: audioKey,\n    },\n    binary: audioKey === 'audio' ? binary : { audio: binary[audioKey] },\n  },\n];"
      },
      "id": "a1b2c3d4-000d-4000-8000-00000000000d",
      "name": "Normalize Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "id": "a1b2c3d4-000b-4000-8000-00000000000b",
      "name": "OpenAI – Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        760,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const meta = $('Normalize Webhook Input').first().json;\nconst transcribe = $input.first().json;\n\nconst transcript = (transcribe.text ?? '').trim();\n\nif (!transcript) {\n  throw new Error('No speech was detected in the recording.');\n}\n\nreturn [\n  {\n    json: {\n      transcript,\n      user_id: meta.user_id,\n      user_name: meta.user_name,\n      user_email: meta.user_email,\n      company_id: meta.company_id,\n      duration_seconds: meta.duration_seconds,\n      stopped_reason: meta.stopped_reason,\n      recorded_at: meta.recorded_at,\n    },\n  },\n];"
      },
      "id": "a1b2c3d4-000c-4000-8000-00000000000c",
      "name": "Prepare Meeting Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "You are a professional meeting-notes assistant for ZapTask. Analyze the transcript and return ONLY valid JSON (no markdown fences) with this exact structure:\n\n{\n  \"summary\": \"2-4 paragraph executive summary\",\n  \"key_decisions\": [\"decision 1\", \"decision 2\"],\n  \"action_items\": [\n    {\n      \"title\": \"Clear actionable task title\",\n      \"assignee\": \"person name or null\",\n      \"priority\": \"Low|Medium|High|Critical\",\n      \"due_date\": \"YYYY-MM-DD or null\",\n      \"notes\": \"optional context\"\n    }\n  ],\n  \"participants_mentioned\": [\"name 1\", \"name 2\"],\n  \"follow_ups\": [\"follow-up item 1\"]\n}\n\nRules:\n- Extract every concrete action item; prefer specific titles over vague ones.\n- Use priority Medium when unclear.\n- If no action items exist, return an empty array.\n- Do not invent facts not supported by the transcript.",
              "role": "system"
            },
            {
              "content": "=Meeting recorded by: {{ $json.user_name }} ({{ $json.user_email }})\nCompany ID: {{ $json.company_id }}\nDuration: {{ Math.round(($json.duration_seconds || 0) / 60) }} minutes\nStopped: {{ $json.stopped_reason }}\nRecorded at: {{ $json.recorded_at }}\n\n--- TRANSCRIPT ---\n{{ $json.transcript }}",
              "role": "user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": 0.3
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "OpenAI – Summarize",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1280,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prepare Meeting Context').first().json;\nconst ai = $input.first().json;\n\nlet parsed = ai.message?.content ?? ai.content ?? ai;\n\nif (typeof parsed === 'string') {\n  try {\n    parsed = JSON.parse(parsed);\n  } catch (error) {\n    parsed = {\n      summary: parsed,\n      key_decisions: [],\n      action_items: [],\n      participants_mentioned: [],\n      follow_ups: [],\n    };\n  }\n}\n\nconst actionItems = Array.isArray(parsed.action_items) ? parsed.action_items : [];\n\nreturn [\n  {\n    json: {\n      transcript: context.transcript,\n      user_id: context.user_id,\n      user_name: context.user_name,\n      user_email: context.user_email,\n      company_id: context.company_id,\n      duration_seconds: context.duration_seconds,\n      stopped_reason: context.stopped_reason,\n      recorded_at: context.recorded_at,\n      meeting_summary: parsed.summary ?? '',\n      key_decisions: parsed.key_decisions ?? [],\n      action_items: actionItems,\n      action_items_count: actionItems.length,\n      participants_mentioned: parsed.participants_mentioned ?? [],\n      follow_ups: parsed.follow_ups ?? [],\n      processed_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Structure Meeting Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.zaptask.co.uk/api/n8n/meeting-notes/proposals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Webhook-Secret",
              "value": "YOUR_N8N_WEBHOOK_SECRET"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  user_id: $json.user_id,\n  company_id: $json.company_id,\n  transcript: $json.transcript,\n  meeting_summary: $json.meeting_summary,\n  action_items: $json.action_items,\n  key_decisions: $json.key_decisions,\n  follow_ups: $json.follow_ups,\n  duration_seconds: $json.duration_seconds,\n  stopped_reason: $json.stopped_reason,\n  recorded_at: $json.recorded_at\n} }}",
        "options": {}
      },
      "id": "a1b2c3d4-000e-4000-8000-00000000000e",
      "name": "HTTP – Send Proposal to ZapTask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "notes": "Replace YOUR_N8N_WEBHOOK_SECRET with the same value as ZapTask N8N_WEBHOOK_SECRET on Heroku. This is the FINAL node — delete any old HTTP – Create Task node if still in your canvas."
    }
  ],
  "connections": {
    "Webhook – Meeting Notes": {
      "main": [
        [
          {
            "node": "Normalize Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Input": {
      "main": [
        [
          {
            "node": "OpenAI – Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Transcribe": {
      "main": [
        [
          {
            "node": "Prepare Meeting Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Meeting Context": {
      "main": [
        [
          {
            "node": "OpenAI – Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Summarize": {
      "main": [
        [
          {
            "node": "Structure Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Meeting Notes": {
      "main": [
        [
          {
            "node": "HTTP – Send Proposal to ZapTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ZapTask"
    },
    {
      "name": "Meeting Notes"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "active": false
}
